/*public */

body, ul, li{
	padding: 0; 
	margin: 0; 
	list-style: none;
}
body{
	font-family: 'Candara', 'Microsoft JhengHei';
	background: #f7f7f8;
}
h1{
	font-size: 40px;
	font-weight: 300;
}

h2{
	font-size: 20px;
	font-weight: normal;
}

img{
	display: block;
	max-width: 100%;
}

.default-border{
	box-shadow: 0 32px 34px rgba(71,82,93,.01);
    border: 1px solid rgba(208,212,217,.5);
}

header{
	text-align: center;
}

.header{
	overflow: hidden;
	min-width: 1200px;
	background: url(../img/parallax_bg.jpg);
	border-bottom: 1px solid #f1f1f1;
}

.header__container{
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 660px;
}

.header__bg{
	position: absolute;
	left: 50%;
	width: 1600px;
	margin-left: -800px;
}

.parallax__bg-img{
	position: absolute;
	left: 0;
}

.header__conent{
	margin-top: 10%;
	color: #fff;
	position: absolute;
    width: 100%;
}

.parallax__layer{
	position: absolute;
}

.parallax__people{
	background: url(../img/sp2.png);
    width: 476px;
    height: 373px;
    margin-left: 100px;
}

.parallax__cloud{
	background: url(../img/cloud.png) no-repeat;
    width: 140px;
    height: 90px;
    margin-top: 80px;
}

.parallax__cloud2{
	background: url(../img/cloud2.png) no-repeat;
	width: 110px;
	height: 67px;
	margin-left: 350px;
}

.parallax__cloud3{
	background: url(../img/cloud3.png) no-repeat;
	width: 110px;
	height: 74px;
	margin-left: 550px;
	margin-top: 150px;
}

.main{
	width: 600px;
	margin: auto;
	margin-bottom: 30px;
}

/*tab start*/
#tab{

}
.control-list{
	height: 35px;
}
.content-list{
	padding: 30px;
	background: #fff;
	min-height: 200px;
}
.control-list-item{
	border: 1px solid rgba(208,212,217,.5);
	border-bottom: 0;
	cursor: pointer;
	margin-right: 3px;
	height: 100%;
	padding: 0 25px;
	line-height: 35px;
	float: left;
	text-align: center;
	border-radius: 5px 5px 0 0;
}
.content-list-item{
	width: 100%;
	display: none;
}
.control-list-item.active{
	background: #fff;
	color: #555;
}
.content-list-item.active{
	display: block;
}
/*tab end*/

/*tabs start*/
.tab{
	background: #fff;
	border: 1px solid #e1e1e1;
}

.tab__navs{
	overflow: hidden;
	border-bottom: 1px solid rgba(208,212,217,.5);
}

.tab__link{
	cursor: pointer;
	padding: 10px 20px;
	float: left;
	list-style: none;
}

.tab__link.active{
	background: rgba(208,212,217,.5);
}

.tab__item{
	padding: 20px;
	display: none;
}

.tab__item.active{
	display: block;
}
/*tabs end*/

/*图片轮播 start*/
#carousel{
	border: 8px solid #fff;
	position: relative;
	width: 500px;
	height: 300px;
	overflow: hidden;
}
.carousel-inner{
	height: 100%;
	position: absolute;
	left: -500px;
}
.carousel-item{
	height: 100%;
	width: 500px;
	float: left;
	text-align: center;
	line-height: 200px;
	color: #fff;
}

.carousel-list-index{
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 15px;
}
.list-index-item{
	display: inline-block;
	width: 10px;
	height: 5px;
	margin: 0 10px;
	background: #fff;
	border-radius: 4px;
}
.list-index-item.current{
	background: #000;
}

.direction{
	position: absolute;
	top: 50%;
	margin-top: -10px;
	width: 100%;
}
.direction-item{
	display: inline-block;
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: cover;
	cursor: pointer;
}
.prev{
	left: 10px;
	border-right-color: #ff0; 
	background-image: url(../img/arrow_left.png);
}
.next{
	right: 10px;
    border-left-color: #ff0;
    background-image: url(../img/arrow_right.png);
}
/*图片轮播 end*/

/*元素拖动 start*/
#moveElement{
	background: #fff;
	height: 300px; 
	position: relative;
}
.moveEl{
	border-radius: 3px;
	width: 200px;
	height: 100px;
	background: #393E46;
	position: absolute;
	left: 0;
	right: 0;
	cursor: move;
}

/*-------------------- BEGIN MODULE ACCORION SECTION -------------------*/
.accordion{
	width: 100%;
    background: #FFF;
}

.accordion__submenu{
	display: none;
}

.accordion__item:last-child{
	border: none;
}

.accordion__link{
	cursor: pointer;
    display: block;
    padding: 15px 15px 15px 30px;
    color: #4D4D4D;
    font-size: 16px;
    font-weight: bolder;
    position: relative;
}

.accordion__item{
	list-style: none;
	border-bottom: 1px solid #f1f1f1;
}

.accordion__item.open .accordion__link{
    color: #b63b4d;
}

.accordion__submenu{
	background-color: #222;
}

.accordion__submenu-item{
	color: #fff;
	padding: 15px 15px 15px 40px;
	border-bottom: 1px solid #080808;
	-webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.accordion__submenu-item:hover {
   /* background: #b63b4d;
    color: #FFF;*/
}


#footer{
	border-top: 1px solid rgba(208,212,217,.5);
	text-align: center;
	margin: auto;
	padding: 50px 0;
}