/*public */

body, ul, li{
	padding: 0; 
	margin: 0; 
	list-style: none;
}
body{
	background: #f1f1f1;
	/*f6f9fc*/
	font-family: 'Microsoft JhengHei';
}
h1{
	font-size: 24px;
	text-align: center;
}

h2{
	font-size: 20px;
	font-weight: normal;
}

img{
	display: block;
	max-width: 100%;
}

.main{
	width: 600px;
	margin: auto;
}

/*tab start*/
#tab{

}
.control-list{
	height: 35px;
	color: #fff;
}
.content-list{
	padding: 30px;
	background: #fff;
	min-height: 200px;
}
.control-list-item{
	cursor: pointer;
	background-color: #666;
	margin-right: 3px;
	height: 100%;
	padding: 0 25px;
	line-height: 35px;
	float: left;
	text-align: center;
	border-radius: 5px 5px 0 0;
}
.content-list-item{
	width: 100%;
	display: none;
}
.control-list-item.active{
	background: #fff;
	color: #555;
}
.content-list-item.active{
	display: block;
}
/*tab end*/

/*tabs start*/
.tab{
	background: #fff;
	border: 1px solid #e1e1e1;
	font-family: 'Candara';
}

.tab__navs{
	overflow: hidden;
	border-bottom: 1px solid #e1e1e1;
}

.tab__link{
	cursor: pointer;
	padding: 10px 20px;
	float: left;
	list-style: none;
}

.tab__link.active{
	background: #e1e1e1;
}

.tab__item{
	padding: 20px;
	display: none;
}

.tab__item.active{
	display: block;
}
/*tabs end*/

/*图片轮播 start*/
#carousel{
	border: 8px solid #fff;
	position: relative;
	width: 500px;
	height: 300px;
	overflow: hidden;
}
.carousel-inner{
	height: 100%;
	position: absolute;
	left: -500px;
}
.carousel-item{
	height: 100%;
	width: 500px;
	float: left;
	text-align: center;
	line-height: 200px;
	color: #fff;
}

.carousel-list-index{
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 15px;
}
.list-index-item{
	display: inline-block;
	width: 10px;
	height: 5px;
	margin: 0 10px;
	background: #fff;
	border-radius: 4px;
}
.list-index-item.current{
	background: #000;
}

.direction{
	position: absolute;
	top: 50%;
	margin-top: -10px;
	width: 100%;
}
.direction-item{
	display: inline-block;
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: cover;
	cursor: pointer;
}
.prev{
	left: 10px;
	border-right-color: #ff0; 
	background-image: url(../img/arrow_left.png);
}
.next{
	right: 10px;
    border-left-color: #ff0;
    background-image: url(../img/arrow_right.png);
}
/*图片轮播 end*/

/*元素拖动 start*/
#moveElement{
	background: #fff;
	height: 300px; 
	border: 1px solid #fff;
	position: relative;
}
.moveEl{
	width: 200px;
	height: 100px;
	background: #555;
	position: absolute;
	left: 0;
	right: 0;
	cursor: move;
}

/*-------------------- BEGIN MODULE ACCORION SECTION -------------------*/
.accordion{
	width: 100%;
    background: #FFF;
}

.accordion__submenu{
	display: none;
}

.accordion__link{
	cursor: pointer;
    display: block;
    padding: 15px 15px 15px 30px;
    color: #4D4D4D;
    font-size: 16px;
    font-weight: bolder;
    border-bottom: 1px solid #CCC;
    position: relative;
}

.accordion__item{
	list-style: none;
}

.accordion__item.open .accordion__link{
    color: #b63b4d;
}

.accordion__submenu{
	background: #444359;
}

.accordion__submenu-item{
	color: #fff;
	padding: 15px 15px 15px 40px;
	border-bottom: 1px solid #4b4a5e;
	-webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.accordion__submenu-item:hover {
    background: #b63b4d;
    color: #FFF;
}