/*public */

body, ul, li{padding: 0; margin: 0; list-style: none;}
body{background-color: #333; font-family: '微软雅黑';}
h1{text-align: center;}
h2{
	text-align: center;
}










/*tab start*/
#tab{width: 500px; margin: 0 auto;}
.control-list{
	height: 35px;
	color: #fff;
}
.content-list{
	padding: 30px;
	background: #fff;
}
.control-list-item{
	background-color: #666;
	margin-right: 3px;
	height: 100%;
	padding: 0 25px;
	line-height: 35px;
	float: left;
	text-align: center;
	border-radius: 5px 5px 0 0;
}
.content-list-item{
	width: 100%;
	display: none;
}
.control-list-item.active{
	background: #fff;
	color: #555;
}
.content-list-item.active{
	display: block;
}
/*tab end*/



/*图片轮播 start*/
#carousel{
	position: relative;
	width: 500px;
	height: 200px;
	margin: 100px auto;
	overflow: hidden;
}
.carousel-inner{
	height: 100%;
	position: absolute;
	left: -500px;
}
.carousel-item{
	height: 100%;
	width: 500px;
	float: left;
	text-align: center;
	line-height: 200px;
	color: #fff;
	font-size: 50px;
}
.item-first{
	background: #888;
}
.item-one{
	background: #666;
}
.item-two{
	background: #777;
}
.item-three{
	background: #888;
}
.item-last{
	background: #666;
}


.carousel-list-index{
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 15px;
}
.list-index-item{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 10px;
	background: green;
	border-radius: 4px;
}
.list-index-item.current{
	background: red;
}

.direction{
	position: absolute;
	top: 50%;
	margin-top: -10px;
	width: 100%;
}
.direction-item{
	display: inline-block;
	position: absolute;
	border: 10px solid rgba(0, 0, 0, 0);
}
.prev{
	left: 10px;
	border-right-color: #ff0; 
}
.next{
	right: 10px;
    border-left-color: #ff0;
}
/*图片轮播 end*/



/*元素拖动 start*/
#moveElement{
	height: 300px; 
	width: 498px;
	border: 1px solid #fff;
	margin: 100px auto;
	position: relative;
}
.moveEl{
	width: 200px;
	height: 100px;
	background: #555;
	position: absolute;
	left: 0;
	right: 0;
	cursor: move;
}

